section {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


/* BROKEN COOKIE */


#broken-left {
    width: 200px;
    height: 170px;
    background-color: #eac877;
    position: relative;
    clip-path: polygon(0% 42%, 82.3% 0%, 100% 50%, 82.3% 100%, 0% 58%);
}
#broken-left:after {
    content: "";
    width: 47px;
    height: 170px;
    background-color: #9e8651;
    position: absolute;
    clip-path: polygon(25% 0%, 100% 50%, 25% 100%, 0% 50%);
    right: 0px;
}


#broken-right {
    width: 200px;
    height: 170px;
    background-color: #eac877;
    position: relative;
    clip-path: polygon(0% 50%, 17.7% 0%, 100% 42%, 100% 58%, 17.7% 100%);
}
#broken-right:after {
    content: "";
    width: 47px;
    height: 170px;
    background-color: #9e8651;
    position: absolute;
    clip-path: polygon(0% 50%, 75% 0%, 100% 50%, 75% 100%);
    left: 0px;
}


/* UNBROKEN COOKIE */


#whole {
    width: 275px;
    height: 210px;
    background-color: #eac877;
    position: relative;
    clip-path: polygon(0% 40%, 36% 5%, 45% 0%, 100% 60%, 96% 72%, 161px 132px, 68% 86%, 64% 100%, 15% 76%);
}
#whole:before {
    content: "";
    width: 152px;
    height: 115px;
    background-color: #9e8651;
    position: absolute;
    clip-path: polygon(0% 0%, 38% 75%, 100% 100%, 32.4% 83%);
    right: 11px;
    top: 37px;
}
#whole:after {
    content: "";
    width: 176px;
    height: 126px;
    background-color: #9e8651;
    position: absolute;
    clip-path: polygon(0% 0%, 28% 55%, 94% 90%, 100% 100%, 0% 100%);
    left: 0;
    bottom: 0;)
}


/* PAPER */


#paper {
    width: 350px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px #e6ccca;
    margin: 0 10px 0 20px;
    padding: 0 25px;
    font-size: 18px;
    font-color: black;
    text-align: center;
}
#paper:before {
    content: "";
    width: 20px;
    height: 13px;
    position: absolute;
    background-color: mediumslateblue;
    left: 20px;
    top: 0px;
}
#paper:after {
    content: "";
    width: 20px;
    height: 13px;
    position: absolute;
    background-color: mediumslateblue;
    left: 20px;
    top: 87px;
}

#boxes {
    width: 13px;
    height: 13px;
    background-color: mediumslateblue;
    position: absolute;
    right: 10px;
    top: 0;
}
#boxes:before {
    content: "";
    width: 13px;
    height: 13px;
    background-color: mediumslateblue;
    position: absolute;
    left: 0px;
    top: 87px;
}


.button {
    width: 150px;
    height: 50px;
    background-color: rosybrown;
    border-style: outset;
    border-width: 5px;
    border-color: #c9a5a5;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px #e6ccca;
    font-size: 24px;
    color: #261d1d;
    margin: 15px;
    user-select: none;
}
.button:hover {
    background-color: #967272;
    border-color: rosybrown;
}
.button:active {
    background-color: #967272;
    border-color: rosybrown;
    border-style: inset;
}


@media (orientation: portrait) {
    .landscape {
        display: none;
    }
  }